body {
    margin: 0;
    font-family: 'PT Sans';
}

#main {
    width: 80%;
    margin: 0 10%;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #69696971;
}

#title {
    margin-bottom: 0;
    font-size: 30px;
}

#main header,
#main blockquote {
    letter-spacing: 1px;
}

#main header h2 {
    margin-top: 8px;
}

#main header em,
#main blockquote {
    font-family: "Raleway";
}

#main blockquote {
    margin-top: 30px;
    font-style: italic;
    line-height: 1.4em;
    font-weight: 300;
    font-size: 15px;
}

#main blockquote p {
    position: relative;
    margin-left: 30px;
}

#main blockquote p:before {
    content: "“";
    font-family: 'Times New Roman', 'Apple Garamond', serif;
    position: absolute;
    top: 0;
    left: -15px;
}

#main blockquote p:after {
    content: "”";
    font-family: 'Times New Roman', 'Apple Garamond', serif;
    position: absolute;
    right: 0;
    bottom: 0;
}

#main cite,
#my_footer {
    font-style: normal;
    color: #696969;
}

#tribute-info {
    text-align: left;
    line-height: 1.8em;
}

#img-div {
    margin: 50px auto;
    position: relative;
    text-align: center;
}

#img {
    position: relative;
    width: 80%;
    margin: auto;
    min-width: 200px;
    margin-bottom: 5px;
}

#my_footer p {
    font-size: 15px;
    display: inline;
    position: relative;
    top: 10px;
    padding-bottom: 10px;
}

#my_footer a {
    text-decoration: none;
    font-weight: bold;
    color: #4b4b4b;
}

#my_footer a:hover {
    text-decoration: underline;
    color: #0520b8;
}

#my_footer img {
    padding: 4px;
    position: absolute;
}

/* =responsive */
@media only screen and (max-width: 400px) {
    body {
        width: 100%;
        margin-left: 5%;
    }

    #main {
        text-align: center;
    }

    #main,
    #main blockquote p {
        margin-left: 8px;
    }

    #main blockquote {
        margin-left: 30px;
    }

    #my_footer p {
        left: -12%;
        text-align: center;
    }
}
